body {
	color: #404040;
	line-height: 1.7em;
	background-color: #fff;
	font-family: Arial;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

h1 {
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: Arial;
	color: #D9443F;
}

h2 {
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
}

h3 {
	font-size: 1.1em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
}


li {
	margin-bottom: 6px;
	margin-top: 6px;
}

p {
	margin-bottom: 8px;
	margin-top: 8px;
}

img

/*Setting max-width: 100%; property makes images always fit the width of the container*/
	{
	max-width: 100%;
}


div.flex-column {
	padding-bottom: 4em;
}

div.row div.col-6-sm a span {
	font-size: 0.8em !important;
	display: block;
	margin-top: 0.2rem;
	font-weight: 100
}